<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<h1>Admin Login</h1>
{%  if messages   %}
{% for i in messages %}
<h4>{{i}}</h4>

{% endfor %}
{% endif %}

<form action="login" method="post">
{%  csrf_token  %}
    <p>
        <input type="text" name="username" placeholder="Enter Username">

    </p>

    <p>
        <input type="password" name="password" placeholder="Enter Password">

    </p>

    <input type="submit" value="Signin">
</form>
</body>
</html>